.container {
  position: relative;
  bottom: 0;
  height: 150px;
  margin-top: 70px;
  background-color: #080638;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.container p {
  max-width: 30vw;
}
.container span {
  word-spacing: 0.2rem;
  overflow: visible;
}
