.spiner {
  margin-top: 2rem;
  font-size: 4rem;
  color: #ec1566;
  animation: spin 0.9s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
