.form {
  width: 70vw;
  height: 5rem;
  margin: 4rem auto 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form div {
  width: 80%;
  height: 50%;
  position: relative;
}
.form label {
  position: absolute;
  z-index: 1;
  width: 5rem;
  height: 2rem;
  border-radius: 40px;
  text-align: center;
  line-height: 2rem;
}
.form input {
  position: absolute;
  width: 100%;
  height: 2rem;
  border-radius: 40px;
  border: none;
  padding: 0 5rem;
}
.form button {
  position: absolute;
  right: 0;
  width: 10rem;
  height: 2rem;
  border-radius: 40px;
  border: none;
  z-index: 1;
  background-color: #ec1566;
  font-size: 1.2rem;
  font-weight: bold;
}

.form input:hover {
  box-shadow: 2px 5px 10px 2px rgb(88, 106, 202, 0.5);
}

.form button:hover,
.form button:active {
  box-shadow: 0px 2px 5px 1px #ec156791;
  cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 768px) {
  .form {
    width: 80vw;
  }
}

@media only screen and (max-width: 480px) {
  .form {
    width: 90vw;
  }
  .form div {
    width: 90%;
  }
  .form label {
    width: 5rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.4rem;
  }
  .form input {
    height: 3rem;
  }
  .form button {
    width: 10rem;
    height: 3rem;
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 320px) {
  .form {
    width: 92vw;
  }
  .form button {
    width: 8.5rem;
  }
}
